
	<ion-view view-title='Add Event'>
		<ion-header-bar class="bar bar-positive">
		 <a class="button button-icon icon ion-ios-arrow-back" ui-sref="groups"></a>

		    <h1 class="title">Add Event</h1>      
		    <a ui-sref="groups({groupId: params.groupId})" ui-sref-opts="{reload: true, notify: true}" class="button button-icon" ng-click="saveEvent()">Save</a> 
		</ion-header-bar>

		<ion-content>
		<br />
		<br />

		<div class="row">
		  <div class="col-80 col-offset-10">
		  	<label class="input">
                <span class="input-label">Event Name:</span>
                <input id="textboxinput" type="text" ng-model='params.name'>
              </label>
		  </div>
		</div>
		
		

		<br />
		<br />

		<div class="row">
		  <div class="col-90 col-offset-10">
		  	<label ng-click="openDatePicker()">
                <span class="input-label">Event Date:</span>
                <label id="textboxinput">{{ params.datetime | date:'yyyy-MM-dd HH:mm' }}</label>
              </label>
		  </div>
		</div>
		

		<br />
		<br />

		<div class="row">
		  <div class="col-80 col-offset-10">
		  	<label class="input">
                <span class="input-label">Event Location:</span>
                <input id="textboxinput" type="text" ng-model='params.place'>
              </label>
		  </div>
		</div>

		<br />
		<br />

		</ion-content>
	</ion-view>


	