
<ion-view view-title="{{event.name}}">
  
	<ion-nav-bar class="bar-positive">
  

      <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-more-vertical" ng-click="popover.show($event)">
	        </button>
      </ion-nav-buttons>
      
       <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" ui-sref="groups"></a>
      </ion-nav-buttons>
    </ion-nav-bar>

  <ion-content>
    <p>name: {{event.name}}</p>
	<p>place: {{event.place}}</p>
	<p>date: {{event.date}}</p>
  </ion-content>
</ion-view>
